<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>萌宠乐园-创建</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script type="text/javascript" src="../static/js/vue-2.5.16.js"></script>
	<script type="text/javascript" src="../static/js/axios-0.18.0.min.js"></script>
</head>
<body>
	<div id="app">
        <div class="register_con">
			<div class="r_con fr">
				<div class="reg_title clearfix">
					<h1>需求创建</h1>
					<a href="index.html">首页</a>
				</div>
				<div class="reg_form clearfix">
					<form method="post" class="register_form">
						{{ csrf_input }}
						<ul>
							<li>
								<label>内容:</label>
								<input type="text" name="blogs" id="blogs" v-model="contents" @blur="check_contents">
								<span class="error_tip" v-show="error_contents">请输入您的需求</span>
							</li>
							<li>
								<label>时间:</label>
								<input type="text" name="blogs_time" id="blogs_time" v-model="time" @blur="check_time">
								<span class="error_tip" v-show="error_time">请输入您需要需求的时间</span>
							</li>
							<li>
                                <div class="form_group">
                                    <label>地址：</label>
                                    <select v-model="form_address.province_id">
                                        <option v-for="province in provinces" :value="province.id">[[ province.name ]]</option>
                                    </select>
                                    <select v-model="form_address.city_id">
                                        <option v-for="city in cities" :value="city.id">[[ city.name ]]</option>
                                    </select>
                                    <select v-model="form_address.district_id">
                                        <option v-for="district in districts" :value="district.id">[[ district.name ]]</option>
                                    </select>
                                </div>
							</li>
							<li>
								<label>详细地址:</label>
								<input type="text" name="blogs_address" id="blogs_address" v-model="address" @blur="check_address">
								<span class="error_tip" v-show="error_address">请输入详细地址</span>
							</li>
							<li class="reg_sub">
								<input type="submit" value="创 建">
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>
    </div>


	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>萌宠乐园******公司</p>
		<p>电话：******    备案许可证号：*******号</p>
	</div>
	<script type="text/javascript" src="../static/js/host.js"></script>
	<script type="text/javascript" src="../static/js/create_blogs.js"></script>
</body>
</html>