<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>萌宠乐园-首页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script type="text/javascript" src="../static/js/host.js"></script>
	<script type="text/javascript" src="../static/js/common.js"></script>
	<script type="text/javascript" src="../static/js/vue-2.5.16.js"></script>
    <script type="text/javascript" src="../static/js/axios-0.18.0.min.js"></script>
</head>
<body>
	<div id="app">
		<div class="header_con">
			<div class="header">
				<div class="welcome fl">欢迎来到萌宠乐园!</div>
				<div class="fr">
					<div v-if="username" class="login_btn fl">
						欢迎您：<em>[[ username ]]</em>
						<span>|</span>
						<a href="create_blogs.html">发布</a>
						<span>|</span>
						<a href="#">个人中心</a>
						<span>|</span>
						<a href="{{ url('users:logout') }}">退出</a>
					</div>
					<div v-else class="login_btn fl">
						<a href="login.html">登录</a>
						<span>|</span>
						<a href="register.html">注册</a>
					</div>
				</div>
			</div>
		</div>

		<div class="search_bar clearfix">
			<div class="search_wrap fl">
				<form method="get" action="/search/" class="search_con">
					<input type="text" class="input_text fl" name="q" placeholder="搜索萌宠">
					<input type="submit" class="input_btn fr" name="" value="搜索">
				</form>
			</div>
		</div>

		<div class="list_title clearfix navbar">
			<h3 class="fl" id="model01">筛选</h3>
			<div class="fr form_group">
				<label>*所在地区：</label>
				<select>
					<option>省</option>
				</select>
				<select>
					<option>市</option>
				</select>
				<select>
					<option>县</option>
				</select>
			</div>
		</div>
		<div class="navbar">
			{% for blog in blogs %}
			<div style="height: 100px;font-size: 20px;">
				需求：{{ blog.contents }}
				<br>
				用户：{{ blog.user }}
				<br>
				时间：{{ blog.times }}
				<br>
				地址：{{ blog.province }} {{ blog.city }} {{ blog.district }} {{ blog.address }}
			</div>
			<hr>
			{% endfor %}
		</div>


		<div class="footer">
			<div class="foot_link">
				<a href="#">关于我们</a>
				<span>|</span>
				<a href="#">联系我们</a>
				<span>|</span>
				<a href="#">招聘人才</a>
				<span>|</span>
				<a href="#">友情链接</a>
			</div>
			<p>萌宠乐园******公司</p>
			<p>电话：******    备案许可证号：*******号</p>
		</div>
	</div>
	<script type="text/javascript" src="../static/js/index.js"></script>
</body>
</html>
