body{
	margin:0;
	padding:0;
}

/*主体内容*/
.body{
	width: 100vw;
	height: 94vh;
	overflow: hidden;
	background-image: url(../images/mengchong.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.body_blogs_box{
	overflow:auto;
	position: relative;
	flex-direction: row;
	width: 60vw;
	height: 75vh;
	margin: 0 auto;
	margin-top: 3vh;
	border-radius: 16px;
	background: #9f9f9f;
	opacity: 0.6;
}

.blogs{
	margin-top: 3vh;
	font-size: 20px;
	background: #f9f9f9;
	width: 57vw;
	border-radius: 16px;
	margin-left: 1vw;
}

/* 按钮样式 */
.del_blog{
	float: right;
	color: #9f9f9f;
	margin-right: 1vw;
	border-radius: 16px;
}
