body{
	margin:0;
	padding:0;
}
/* 顶部样式 */
.header{
	background: #4e4e4e;
	width: 100vw;
	height: 40px;
}

.header_left{
	float: left;
	font-size: 20px;
	margin-left: 2vw;
	margin-top: 1vh;
	color: #3eb8e9;
}

.header_right{
	float: right;
	height: 40px;
}

.header_right ul{
	margin-top: 0;
}

.header_link{
	margin-right: 3vw;
	font-size: 25px;
	display: inline-block;
	position: relative;
}

.header_link a{
	color: #3eb8e9;
	text-decoration: none;
}

/*主体内容*/
.body{
	width: 100vw;
	height: 94vh;
	overflow: hidden;
	background-image: url(../images/mengchong.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.body_blogs_box{
	overflow:auto;
	position: relative;
	flex-direction: row;
	width: 60vw;
	height: 75vh;
	margin: 0 auto;
	margin-top: 3vh;
	border-radius: 16px;
	background: #9f9f9f;
}

.blogs{
	margin-top: 3vh;
	font-size: 20px;
	background: #f9f9f9;
	width: 57vw;
	height: 140px;
	border-radius: 16px;
	margin-left: 1vw;
}

/* 按钮样式 */
.del_blog{
	float: right;
	color: #9f9f9f;
	margin-right: 1vw;
	border-radius: 16px;
}

/* 页尾 */
.footer{
	border-top:1px;
	margin:30px 0;
}

.foot_link{
	text-align:center;
	margin-top:30px;
}

.foot_link a{
	color: #f9f9f9;
	text-decoration: none;
}

.footer p{
	text-align:center;
	margin-top:5px;
	color: #f9f9f9;
}