/* 把标签默认的间距设为0 */
body,ul,ol,p,h1,h2,h3,h4,h5,h6,dl,dd,select,input,textarea,form{margin:0;padding:0}

/* 去掉列表默认的图标 */
ul,ol{list-style:none;}

/*主体内容*/
.body{
	width: 100vw;
	height: 94vh;
	overflow: hidden;
	background-image: url(../images/mengchong.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.reg_form_bg{
	width: 100vw;
	height: 70vh;
	margin-top: 10vh;
}

.reg_form{
	overflow:auto;
	justify-content: center;
	align-items: center;
	width:368px;
	border:1px solid #c6c6c5;
	background-color:#fff;
	margin: auto;
	border-radius: 16px;
}

.reg_title{
	height:60px;
	width:350px;
	margin:10px auto;
	border-bottom:1px solid #e0e0e0;
}

.error_name{
	color:#f00;
	position:absolute;
	left:0;
	top:43px;
}

.error_pwd{
	color:#f00;
	position:absolute;
	left:0;
	top:108px;
}

.error_pwd2{
	color:#f00;
	position:absolute;
	left:0;
	top:173px;
}

.error_mobile{
	color:#f00;
	position:absolute;
	left:0;
	top:238px;
}

.error_msg{
	color:#f00;
	position:absolute;
	left:0;
	top:303px;
}

.form_input{
	width:308px;
	height:350px;
	margin:20px auto;
	position:relative;
	display:block;
}

.name_input{
	width:306px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -41px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:0;
}

.pass_input{
	width:306px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -95px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:65px;
}

.pass2_input{
	width:306px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -95px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:130px;
}

.mobile_input{
	width:306px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -95px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:195px;
}

.msg_input{
	width:186px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -95px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:260px;
}

.input_submit{
	width:100%;
	height:40px;
	position:absolute;
	left:0;
	top:325px;
	background-color:#ff5757;
	color:#fff;
	font-size:22px;
	border:0;
	cursor:pointer;
}

.get_msg_code{
	width:106px;
	height:36px;
	border:1px solid #e0e0e0;
	background:280px -95px no-repeat #f8f8f8;
	outline:none;
	font-size:14px;
	text-indent:10px;
	position: absolute;
	left:0;
	top:260px;
	float: left;
	text-align:center;
	line-height:40px;
	margin-left:200px;
	color:#333;
}

.third_party{
	border-top:1px solid #e0e0e0;
	margin-top:30px;
}

.qq_login{
	float:left;
	line-height:30px;
	margin-left:15px;
	margin-top:7px;
	color:#666;
	font-size:12px;
	text-indent:22px;
	background:url(../images/QQ-weixin.png) left 7px no-repeat;
}

.weixin_login{
	float:left;
	line-height:30px;
	margin-left:15px;
	margin-top:7px;
	color:#666;
	font-size:12px;
	text-indent:22px;
	background:url(../images/QQ-weixin.png) left -35px no-repeat;
}

.register_btn{
	float:right;
	line-height:30px;
	margin-left:15px;
	margin-top:7px;
	color:#666;
	font-size:12px;
	text-indent:22px;
	margin-right:15px;
}